<div class="profile">
    <h1>Hey, <%= @user.first_name %>!</h1>
    <p><strong>Username:</strong> <%=@user.username %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
</div>

<div class="edit_user">
    <%= link_to "Edit Profile", edit_user_path(@user) %>
</div>

<div class="best_vegan_restaurants">
<%= link_to 'Best Vegan Rated Restaurants', restaurants_order_by_vegan_rating_path %>
</div>

<div class="user_restaurants">
<% if @restaurants != nil %>
    <ul>
    <h3> Your Restaurant Submissions: </h3> 
    <% @restaurants.sort_alphabetical.each do |restaurant| %>
        <% if restaurant.user_id == @user.id %> 
            <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
        <% end %>
    <% end %>
    </ul>
<% else %>
        <p>Be the First to Submit a Restaurant!</p>
<% end %> 
</div>


    