<% if @review.errors.any? %>
    <%= render partial: 'error', locals: { review: @review } %>

<% else @restaurant.id == review.restaurant_id %>

<h3>Post a Review, <%= current_user.username %>:</h3>

<%= form_for [ @restaurant, review ] do |f| %>

    <p>
      <%= f.text_area :body %>
    </p>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
    <p>
      <%= f.submit 'Submit' %>
    </p>
<% end %>
<% end %>